<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Main">Home</a></li>
    <li class="breadcrumb-item"><a href="/TableSelect">Table</a></li>
    <li class="breadcrumb-item active">List Screen</li>
</ol>


<div class="alert alert-info" role="alert">
    <strong>Preview Mode</strong> This Screen is in Preview Mode - Edit Column Headings by clicking on them
</div>


<div class="col-sm-12">
    <div class="pt-lg-3 pb-lg-3 text-center" style="margin-bottom: 1rem"><h2><input class="text-center" style="border: 0px" type="text" ng-model="screenCaption" ng-init="screenCaption = table + ' List'" /></h2></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-if="fieldHeader.Type != 'List'"class="thead-default alert-info text-center" ng-repeat="fieldHeader in previewFields track by $index"><input class="alert-info font-weight-bold" style="border: 0px; width: 100%" type="text" ng-model="fieldHeader.Caption" ng-init="fieldHeader.Caption = fieldHeader.Name"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customers">
                <td ng-if="field.Type != 'List'" ng-repeat="field in previewFields">{{customer[field.Name]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="p-5"></div>
<div class="fixed-bottom text-center alert-info card-footer">
    <button class="btn btn-success" ng-click="saveScreen(screenCaption, table, previewFields)">Save Screen</button>
</div>