<ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
</ol>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">List Screen</h3>
                <p class="card-text">Create a new List screen for displaying a list of records in your table.</p>
                <a href="/list" class="btn btn-primary">Create a New List Screen</a>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Edit Screen</h3>
                <p class="card-text">Create a new Edit screen. Used for entering new records into a table, or editing existing ones.</p>
                <a href="/edit" class="btn btn-primary">Create a New Edit Screen</a>
            </div>
        </div>
    </div>
</div>

